<!DOCTYPE HTML>
<html>
<head>
    <% include Common/header.ejs %>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <% include Common/logo.ejs %>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <% include Common/menu.ejs %>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <section>
                <h1>Appointment Requested</h1>
                <p>Please wait for a confirmation call from the service provider. You should hear back
                    within the next 2 hours
                </p>
            </section>
            <section>
                <h3>Create a password and save your details</h3>

                <div class="table-wrapper">
                    <table>
                        <%var data = elements.split(",");%>
                        <tr>
                            <td>Name</td>
                            <td><%=data[3].split(":")[1].replace(/"/g,'')+' '+
                                data[4].split(":")[1].replace(/"/g,'')%></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%=data[7].split(":")[1].replace(/"/g,'')%></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><%=data[8].split(":")[1].replace(/"/g,'')%></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>90 Dale Ave, Scarborough, M1J 3N4</td>
                        </tr>
                    </table>
                </div>
            <form>
                <div class="field half first">
                    <input type="password" name="password" placeholder="Create Password" required />
                </div>
                <div class="field half">
                    <input type="password" name="confpass" placeholder="Confirm Password" required/>
                </div>
                <ul class="actions" style="float:right;">
                    <li><input type="submit" value="Create Profile" class="special" /></li>
                </ul>
            </form>


            </section>

        </div>
    </div>

    <!-- Footer -->
    <% include Common/footer.ejs %>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="assets/js/local.js"></script>

</body>
</html>