<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Phantom by HTML5 UP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <% include Common/logo.ejs %>
            <!--<a href="/" class="logo">-->
            <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Home Care Connect</span>-->
            <!--</a>-->

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <% include Common/menu.ejs %>
    <!--<nav id="menu">
      <h2>Menu</h2>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="provider">Service Provider Portal</a></li>
        <li><a href="generic.html">About Us</a></li>
        <li><a href="generic.html">Consequat dolor</a></li>
        <li><a href="elements.html">Elements</a></li>
      </ul>
    </nav>-->


    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Helping you so you can help</h1>
            </header>
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt=""/>
									</span>
                    <a href="providersearch">
                        <h2>Search Providers</h2>
                        <div class="content">
                            <p>Matching you with the best fit</p>
                        </div>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="images/pic02.jpg" alt=""/>
									</span>
                    <a href="hm.html">
                        <h2>Caregiver Resources</h2>
                        <div class="content">
                            <p>Find all resources to help you in caregiving</p>
                        </div>
                    </a>
                </article>
                <article class="style3">
									<span class="image">
										<img src="images/pic03.jpg" alt=""/>
									</span>
                    <a href="trans.html">
                        <h2>Transportation</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
									<span class="image">
										<img src="images/pic04.jpg" alt=""/>
									</span>
                    <a href="provider">
                        <h2>Provider Onboarding</h2>
                        <div class="content">
                            <p>Onboard service providers</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
									<span class="image">
										<img src="images/pic05.jpg" alt=""/>
									</span>
                    <a href="cgs.html">
                        <h2>Caregiver Support</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style6">
									<span class="image">
										<img src="images/pic06.jpg" alt=""/>
									</span>
                    <a href="faq.html">
                        <h2>FAQ</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>

            </section>
        </div>
    </div>

    <!-- Footer -->
    <% include Common/footer.ejs %>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
