<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="provider">Service Provider Portal</a></li>
        <li><a href="providersearch">Search Providers</a></li>
        <li><a href="generic">Partners</a></li>
        <li><a href="elements">Contact Us</a></li>
    </ul>
</nav>
